body {
  margin: 10px;
  background-color: #c3e2fe83;
}

.App {
  text-align: center;
}

h1 {
  font-size: 3em;
}

ul.menu {
  background: rgba(140, 151, 255, 0.8);
  position: absolute;
  border: 1px solid black;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  left: -300px;
  transition: 500ms;
}

.menu.unhide-menu {
  left: -35px;
}

li {
  list-style: none;
  margin: 50px;
}

li:hover {
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.favor-site {
  margin: auto;
  width: 70%;
  font-size: 1.2em;
}
.home-img img {
  margin: auto;
  height: 300px;
  transition: 5000ms;
}

.home-img img:hover {
  transform: rotateY(180deg);
}

.hamburger {
  display: flex;
  flex-direction: column;
}

.burger-line-upper,
.burger-line-middle,
.burger-line-lower {
  width: 45px;
  height: 6px;
  margin: 2px;
  border-radius: 3px;
  background: black;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

.register-form Input {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.api-input {
  font-size: 1.5em;
}

.register-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
