body {
  background-color: #c3e2fe83;
}

.App {
  text-align: center;
}

h1 {
  font-size: 3em;
}

ul {
  display: flex;
  flex-direction: column;

  align-items: center;
}

li {
  list-style: none;
  margin: 50px;
}

li:hover {
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  font-size: 1.2em;
}

.favor-site {
  margin: auto;
  width: 70%;
  font-size: 1.2em;
}
.home-img img {
  margin: auto;
  height: 300px;
  transition: 10000ms;
}

.home-img img:hover {
  transform: rotateY(360deg);
}

.menu {
  visibility: hidden;
  position: absolute;
  background-color: rgb(197, 197, 250);
}

.menu.hide-menu {
  visibility: visible;
}
